.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.idea/
.vscode/
*.iml
android/local.properties
android/key.properties
*.jks
*.keystore
ios/Pods/
ios/.symlinks/
.env
.env.*
!.env.example
*.log
.DS_Store
